.dub
docs.json
__dummy.html
docs/
/peque
peque.so
peque.dylib
peque.dll
peque.a
peque.lib
peque-test-*
subPackages/vibe/peque-vibe-test-*
subPackages/vibe/dub.selections.json
subPackages/orm/peque-orm-test-*
subPackages/migrate/peque-migrate-test-*
subPackages/migrate/dub.selections.json
subPackages/orm/dub.selections.json
*.exe
*.pdb
*.o
*.obj
*.lst
*.sw[npo]
*.a
CLAUDE.md
